<!doctype html>
<html>
<head>
  <title>Failed_Tweets</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>
  <body>
    {{{body}}}
      <footer class="mdl-mini-footer footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Failed Tweets</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="https://github.com/rkulla/failed-tweets">Github</a></li>
            <li><a href="https://twitter.com/Failed__Tweets">Twitter</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
