<!doctype html>
<html>
<head>
    <title>Failed_Tweets</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
	<header></header>
    {{{body}}}
</body>
<footer>
	<ul>
		<li><a href="https://github.com/rkulla/failed-tweets">Github</a></li>
		<li><a href="https://twitter.com/Failed__Tweets">Titter</a></li>
	</ul>
</footer>
</html>
