<h1>Failed_Tweets</h1>

<p>Nobody favorited/retweeted/replied to these tweets:</p>
<table>
    <thead> 
        <th>URL</th> 
        <th>Text</th> 
    </thead> 
    <tbody> 
        {{#each twitterResults}} 
        <tr> 
            <td>{{tweet.url}}</td> 
            <td>{{tweet.text}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 